
ajivaauth\.api/\.vs/ajivaauth\.api/v15/Server/sqlite3/db\.lock

ajivaauth\.api/\.vs/ajivaauth\.api/v15/Server/sqlite3/storage\.ide-wal

ajivaauth\.api/bin/Debug/netcoreapp2\.1/ajivaauth\.api\.deps\.json

ajivaauth\.api/bin/Debug/netcoreapp2\.1/ajivaauth\.api\.dll

ajivaauth\.api/bin/Debug/netcoreapp2\.1/ajivaauth\.api\.pdb

ajivaauth\.api/bin/Debug/netcoreapp2\.1/ajivaauth\.api\.runtimeconfig\.dev\.json

ajivaauth\.api/obj/ajivaauth\.api\.csproj\.nuget\.cache

ajivaauth\.api/obj/ajivaauth\.api\.csproj\.nuget\.g\.props

ajivaauth\.api/obj/ajivaauth\.api\.csproj\.nuget\.g\.targets

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.assets\.cache

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.csproj\.CoreCompileInputs\.cache

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.csproj\.FileListAbsolute\.txt

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.csprojAssemblyReference\.cache

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.dll

ajivaauth\.api/obj/Debug/netcoreapp2\.1/ajivaauth\.api\.pdb

ajivaauth\.api/obj/Debug/netcoreapp2\.1/project\.razor\.json

ajivaauth\.api/obj/project\.assets\.json

ajivaauth\.api/ajivaauth\.api\.sln\.DotSettings\.user

*.pdb

ajivaauth\.api/obj/

ajivaauth\.api/bin/Debug/netcoreapp2\.1/
